<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/sidenav.ejs') %>
    <div class="page_content">
    <h1>Find course either in list or by searching</h1>
    <form action="/search_course" method="POST">
        <label>Search By Course Number</label>
        <input type="text" name="search">
        <button> Search</button>
    </form>
    <% if (course.length > 0){ %>
        <% course.forEach(course =>{  %>
            <a class="single" href="/student/<%= course.id %>">
                <h2 class="title"><%= course.CourseName %></h2>
                <h3 class="num"><%= course.CourseNumber %></h3>
            </a>
        <% }) %>
    <% }else{ %>
        <p> No Courses</p>
    <% } %>
    </div></div>
</body>

<%- include('./partials/footer.ejs') %>
</html>