<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/sidenav.ejs') %>
    <div class="page_content">
    <% if (course.length > 0){ %>
        <% course.forEach(course =>{  %>
            <h2 class="Course Name"><%= course[0] %></h2>
            <h2 class="Course Number"><%= course[1] %></h2>
            <h3 class="Course Des"><%= course[2] %></h3>
            <button>Remove Course</button>

            </a>
        <% }) %>
    <% }else{ %>
        <p> No Courses</p>
    <% } %>
    </div></div>
</body>
<%- include('./partials/footer.ejs') %>
</html>